<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<footer>
  <div class="footerNav">
    <ul>
      <li class="footerNavtitle"><%= pageData.global.nav.pbApps[l] %></li>
      <a href="https://catalog.patternbased.com/" target="_blank"><li>PB Catalog</li></a>
      <a href="https://onomatopedal.com/" target="_blank"><li>OnomatoPedal</li></a>
      <a href="http://strangersinmyhead.info/" target="_blank"><li>Strangers In My Head</li></a>
      <a href="https://heartbeats.patternbased.com/" target="_blank"><li>HeartBeats.(WIP)</li></a>
    </ul>
    <ul>
      <li class="footerNavtitle">PB.COM</li>
      <a href="/<%=language%>/music"><li><%= pageData.global.nav.music[l] %></li></a>
      <a href="http://albums.patternbased.com/" target="_blank"><li><%= pageData.global.nav.album[l] %></li></a>
      <a href="/<%=language%>/art"><li><%= pageData.global.nav.art[l] %></li></a>
      <a href="/<%=language%>/multimedia"><li><%= pageData.global.nav.multimedia[l] %></li></a>
      <a href="/<%=language%>/portfolios"><li><%= pageData.global.nav.portfolio[l] %></li></a>
      <a href="/<%=language%>/about"><li><%= pageData.global.nav.aboutPB[l] %></li></a>
      <a href="/<%=language%>/artists"><li><%= pageData.global.nav.artists[l] %></li></a>
      <a href="/<%=language%>/tools"><li><%= pageData.global.nav.tools[l] %></li></a>
      <a href="/<%=language%>/merch"><li><%= pageData.global.nav.merch[l] %></li></a>
      <a href="/<%=language%>/contact"><li><%= pageData.global.nav.contact[l] %></li></a>
      <a href="https://legal.patternbased.com/privacy-policy/"><li>Privacy Policy</li></a>
      <a href="https://legal.patternbased.com/license-agreement/"><li>License Agreement</li></a>
    </ul>
    </div>

  <% if (nav == 'home') { %>
    <div class="socialMedias">
      <a href="https://soundcloud.com/patternbased" target="_blank">
        <img src="images/global/SM_SoundCloud.svg">
      </a>
      <a href="http://patternbased.tumblr.com/" target="_blank">
        <img src="images/global/SM_Tumblr.svg">
      </a>
      <a href="https://vimeo.com/patternbased" target="_blank">
        <img src="images/global/SM_Vimeo.svg">
      </a>
      <a href="https://www.youtube.com/user/patternbased/" target="_blank">
        <img src="images/global/SM_Youtube.svg">
      </a>
      <a href="https://instagram.com/patternbased" target="_blank">
        <img src="images/global/SM_Instagram.svg">
      </a>
      <a href="https://ello.co/patternbased" target="_blank">
        <img src="images/global/SM_Ello.svg">
      </a>
      <a href="https://github.com/patternbased" target="_blank">
        <img src="images/global/SM_Github.svg">
      </a>
      <a href="https://facebook.com/patternbased" target="_blank">
        <img src="images/global/SM_Facebook.svg">
      </a>
    </div>
  <% } else if (nav == 'portfolio') { %>
      <div class="socialMedias">
        <a href="https://soundcloud.com/patternbased" target="_blank">
          <img src="../../images/global/SM_SoundCloud.svg">
        </a>
        <a href="http://patternbased.tumblr.com/" target="_blank">
          <img src="../../images/global/SM_Tumblr.svg">
        </a>
        <a href="https://vimeo.com/patternbased" target="_blank">
          <img src="../../images/global/SM_Vimeo.svg">
        </a>
        <a href="https://www.youtube.com/user/patternbased/" target="_blank">
          <img src="../../images/global/SM_Youtube.svg">
        </a>
        <a href="https://instagram.com/patternbased" target="_blank">
          <img src="../../images/global/SM_Instagram.svg">
        </a>
        <a href="https://ello.co/patternbased" target="_blank">
          <img src="../../images/global/SM_Ello.svg">
        </a>
        <a href="https://github.com/patternbased" target="_blank">
          <img src="../../images/global/SM_Github.svg">
        </a>
        <a href="https://facebook.com/patternbased" target="_blank">
          <img src="../../images/global/SM_Facebook.svg">
        </a>
      </div>
  <% } else { %>
    <div class="socialMedias">
      <a href="https://soundcloud.com/patternbased" target="_blank">
        <img src="../images/global/SM_SoundCloud.svg">
      </a>
      <a href="http://patternbased.tumblr.com/" target="_blank">
        <img src="../images/global/SM_Tumblr.svg">
      </a>
      <a href="https://vimeo.com/patternbased" target="_blank">
        <img src="../images/global/SM_Vimeo.svg">
      </a>
      <a href="https://www.youtube.com/user/patternbased/" target="_blank">
        <img src="../images/global/SM_Youtube.svg">
      </a>
      <a href="https://instagram.com/patternbased" target="_blank">
        <img src="../images/global/SM_Instagram.svg">
      </a>
      <a href="https://ello.co/patternbased" target="_blank">
        <img src="../images/global/SM_Ello.svg">
      </a>
      <a href="https://github.com/patternbased" target="_blank">
        <img src="../images/global/SM_Github.svg">
      </a>
      <a href="https://facebook.com/patternbased" target="_blank">
        <img src="../images/global/SM_Facebook.svg">
      </a>
    </div>
  <% } %>
    <div class="clear"></div>
    <div class="copyright">© 2022 PatternBased. All Rights Reserved.</div>
</footer>