<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <meta property="og:description" name="og:description" content="<%= pageData.global.description[l] %>">
    <meta property="description" name="description" content="<%= pageData.global.description[l] %>">

    <% if (nav == 'home') { %>

      <meta property="og:image" content="images/global/patternbased_1200x630.jpg" />
      <meta property="og:url" content="https://patternbased.com/<%= language %>" />
      <meta property="og:title" content="PatternBased | <%= title %>" />
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/home.css">
      <link rel="stylesheet" href="css/grid.css">
      <link rel="stylesheet" href="css/pages.css">
      <script src="js/ejs.js"></script>
      <title>PatternBased | <%= title %></title>
      <link rel="icon" type="image/png" sizes="16x16" href="images/global/PatternBased_Favicon_FB3640.png">

    <% } else if (nav == 'portfolio') { %>

      <meta property="og:image" content="../../images/portfolio/<%= thumb %>" />
      <meta property="og:url" content="https://patternbased.com/portfolio/<%= theid %>/<%= language %>" />
      <meta property="og:title" content="PatternBased | <%= pftitle %>" />
      <link rel="stylesheet" href="../../css/style.css">
      <link rel="stylesheet" href="../../css/home.css">
      <link rel="stylesheet" href="../../css/grid.css">
      <link rel="stylesheet" href="../../css/pages.css">
      <script src="../../js/ejs.js"></script>
      <title>PatternBased | <%= pftitle %></title>
      <link rel="icon" type="image/png" sizes="16x16" href="../../images/global/PatternBased_Favicon_FB3640.png">

    <% } else { %>

      <meta property="og:image" content="../images/global/patternbased_1200x630.jpg" />
      <meta property="og:url" content="https://patternbased.com/<%= slug %>/<%= language %>" />
      <meta property="og:title" content="PatternBased | <%= title %>" />
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/home.css">
      <link rel="stylesheet" href="../css/grid.css">
      <link rel="stylesheet" href="../css/pages.css">
      <script src="../js/ejs.js"></script>
      <title>PatternBased | <%= title %></title>
      <link rel="icon" type="image/png" sizes="16x16" href="../images/global/PatternBased_Favicon_FB3640.png">

    <% } %>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <meta name="msapplication-TileColor" content="#FB3640">
  <meta name="theme-color" content="#FB3640">
  <meta property="og:type" content="website" />
</head>