<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<nav>
    <div class="headeritem" id="pbLogo">
        <a href="/<%=language%>">
            <img src="/images/global/PatternBased_Logo_FB3640.svg" alt="PatternBased">
        </a>
    </div>
    <div class="headeritem" id="menuicon">
        <img src="/images/global/Menu_Icon.svg">
    </div>
    <div class="headeritem" id="nav">
        <div class="headeritem" id="closeicon">
          <img src="">
        </div>
        <div class="dropdownNav">
          <button class="dropbtnNav">
            <a class="navMusic" href="/music/<%=language%>">Music</a></button>
          <div class="dropContentNav">
            <a class="navMusic" href="/music/<%=language%>"><%= pageData.global.nav.music[l] %></a>
            <a class="dim" href="http://albums.patternbased.com/" target="_blank"><%= pageData.global.nav.album[l] %></a>
            <a class="dim" href="http://catalog.patternbased.com/" target="_blank"><%= pageData.global.nav.catalog[l] %></a>
          </div>
        </div>
        <!-- <a class="navArt navItem" href="">Art</a> -->
        <div class="dropdownNav">
          <button class="dropbtnNav">
            <a class="navArt" href="/art/<%=language%>">Art</a>
          </button>
          <div class="dropContentNav">
            <a class="navArt" href="/art/<%=language%>" class="dim"><%= pageData.global.nav.art[l] %></a>
            <a class="dim" id="navMultimedia" href=""><%= pageData.global.nav.multimedia[l] %></a class="dim">
            <a class="dim" id="navApps" href="/apps/<%=language%>" class="dim"><%= pageData.global.nav.pbApps[l] %></a>
          </div>
        </div>
        <div class="dropdownNav">
          <button class="dropbtnNav"><a class="navAbout" href="/about/<%=language%>">About</a></button>
          <div class="dropContentNav">
            <a class="navAbout" href="/about/<%=language%>"><%= pageData.global.nav.aboutPB[l] %></a>
            <a id="navArtists" class="dim" href="/artists/<%=language%>"><%= pageData.global.nav.artists[l] %></a class="dim">
            <a id="navTools" class="dim" href="/tools/<%=language%>"><%= pageData.global.nav.tools[l] %></a class="dim">
          </div>
        </div>
          <a id="navMerch" class="navItem" href="/merch/<%=language%>">Merch</a>
          <a id="navContact" class="navItem" href="/contact/<%=language%>">Contact</a>
      </div>
      <div class="headeritem language">
          <a id="EngLink" href="">
            <% if (language == 'en') { %>
                <img id="English" src="/images/global/English-SL.svg" alt="English">
            <% } else { %>
              <img id="English" src="/images/global/English.svg" alt="English">
            <% } %> 
          </a>
          <a id="JpnLink" href="">
            <% if (language == 'en') { %>
              <img id="Japanese" src="/images/global/Japanese.svg" alt="Japanese">
            <% } else { %>
              <img id="Japanese" src="/images/global/Japanese-SL.svg" alt="Japanese">
            <% } %> 
          </a>
      </div>
</nav>
<script>
  // Switching btw Languages on the curret location
  let ogUrl = location.href; 
  let offset = ogUrl.length - 2;
  let newUrl = ogUrl.slice(0, offset) ;
  // console.log(ogUrl, offset, newUrl);
      $('#EngLink').attr('href', newUrl + 'en');
      $('#JpnLink').attr('href', newUrl + 'jp');

</script>