<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<!DOCTYPE html>
<html lang="<%= language %>">

<%- include('./partials/head.ejs') %>

<body class="frontpage">
  <%- include('./partials/nav.ejs') %>

  <div class="content">
    
    <div class="fullWidthBanner aboutHero">
        <object type="image/svg+xml" data="../images/about/patternbased_logo_animation.svg"></object>
    </div>

    <div class="spacerM"></div>

    <div class="bodyTextContainer">
        <h2 class="textCenter">MEDIUMS</h2>
        <p class="textCenter"><%- pageData.about.mediums.heading[l] %></p>
    </div>

    <div class="spacerS"></div>

    <%- include('./partials/core-mediums.ejs') %>
    
    <div class="spacerS"></div>

    <div class="fullWidthBanner goatMessage">
        <object type="image/svg+xml" data="../images/about/goat.svg"></object>
        <p class="testimonial"><%- pageData.about.testimonial.quote[l] %></p>
        <p class="testimonialName">– <%- pageData.about.testimonial.name[l] %></p>
    </div>

    <div class="spacerM"></div>

    <%- include('./partials/our-workflow.ejs') %>

    <div class="spacerM"></div>

    <%- include('./partials/cta-pbcatalog.ejs') %>
  
    <% if ( language == 'jp') { %>
      <div class="spacerM"></div>
      <div class="bodyTextContainer">
        <h2 class="textCenter">会社概要</h2>
        <p class="textCenter">
          <b>社名 :</b> 合同会社PatternBased<br/>
          <b>社名英語表記 :</b> PatternBased LLC.<br/>
          <b>事業内容 :</b> 音楽・マルチメディア・アート・デザイン<br/>
          <b>所在地 :</b> 長崎県長崎市<br/>
          <b>代表者 :</b> 北島志織<br/>
          <b>設立年月日 :</b> 2022年7月26日
        </p>
      </div>
    <% } %>

    <div class="spacerM"></div>

    <div class="bodyTextContainer">
      <h2 class="textCenter">ARTISTS</h2>
    </div>
    <div class="gridWide listTwoRows" id="artistList">
      <% for (let a = 0; a < artists.length; a++) { %>
        <a href="<%= artists[a].url %>" target="_blank">
          <div class="artists" id="<%= artists[a].artistId %>" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../images/artists/<%= artists[a].bgImage %>') no-repeat; background-size:cover;">

            <h3><%= artists[a].artistName %></h3>
          </div>
        </a>
      <% } %>
    </div>
    <div class="bodyTextContainer">
      <a href="/<%= language %>/artists" style="text-decoration: none;"><button class="buttonFill largeButton"><%- pageData.about.meetArtists[l] %></button></a>
    </div>
    <div class="spacerM"></div>

</div>

<div class="spacerL"></div>

<%- include('./partials/footer.ejs') %>

<script>
/* ========== Accordion ========== */

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.display = "none";
      panel.style.maxHeight = null;
    } else {
      panel.style.display = "block";
      panel.style.maxHeight = panel.scrollHeight + "px";
      $('html, body').animate({
        scrollTop: $(this).offset().top - 100
      }, 400);
    }
  });
}
</script>
</body>
</html>