<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<!DOCTYPE html>
<html lang="<%= language %>">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="content">

    <div class="spacerM"></div>

    <div class="bodyTextContainer">
      <img class="headingImg2" src="../images/about/apps2.svg">
      <h2 class="textCenter"><%= appsData.appsheading[l] %></h2>
    </div>
  
    <div class="spacerM"></div>
  
    <div class="bodyWideContainer toolContainer">

    <% for (let a = 0; a < appsData.apps.length; a++) { %>
      <div class="tool">
        <a href="<%= appsData.apps[a].url[l] %>" target="_blank">
            <h2><%= appsData.apps[a].appName[l] %></h2>
        </a>
        <div class="flex">
            <div class="toolImage">
                <a href="<%= appsData.apps[a].url[l] %>" target="_blank">
                    <img src="../images/portfolio/<%= appsData.apps[a].image %>">
                </a>
            </div>
            <div class="toolCopy">
                <p><%- appsData.apps[a].appCopy[l] %></p>
            </div>
        </div>
      </div>
    <% } %>

    </div>

<div class="spacerL"></div>

<%- include('./partials/footer.ejs') %>

</body>
</html>