<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<!DOCTYPE html>
<html lang="<%= language %>">
  <script src=
  "https://www.google.com/recaptcha/api.js" async defer>
  </script>

<%- include('./partials/head.ejs') %>

<body class="frontpage">
  <%- include('./partials/nav.ejs') %>

  <div class="content">
    
    <div class="fullWidthBanner aboutHero">
        <object type="image/svg+xml" data="../images/about/patternbased_logo_animation.svg"></object>
    </div>

    <div class="spacerM"></div>

    <div class="bodyTextContainer">
        <h2 class="textCenter"><%- pageData.contact.heading[l] %></h2>
        <p class="textCenter"><%- pageData.contact.copy[l] %></p>
    </div>

    <div class="spacerS"></div>

    <div class="bodyTextContainer">
        <form class="forms" id="contactForm"  action="/contact/<%= language %>" method="post">
          <ul>
           <li>
             <!-- <label for="name">Name</label> -->
             <input type="text" id="name" name="name" placeholder="Name" required>
           </li>
           <li>
             <!-- <label for="mail">E-mail</label> -->
             <input type="email" id="email" name="email" placeholder="E-mail" required>
           </li>
           <li>
             <!-- <label for="message">Message</label> -->
             <textarea id="message" name="message" placeholder="Message" required></textarea>
           </li>
           <li>
            <div class="g-recaptcha" data-sitekey="6Leas_wUAAAAAM-Fss5247oN7Nv1X-gW84S7evhf" style="margin: 0 auto; width: fit-content;"></div>
           </li>
           <li class="button">
            <input type="hidden" name="language" value="<%= language %>">
             <button class="buttonFill formButton" name="submit" type="submit" id="submitBtn" >SUBMIT</button>
              <!-- <button class="buttonFill formButton" onclick="checkRecaptcha();">SUBMIT</button> -->
          </li>
          </ul>
         </form>
        </div>


<div class="spacerL"></div>

<%- include('./partials/footer.ejs') %>

  <!-- function getCaptchaToken(token) {
      // get token from Google reCAPTCHA Server
      if (token) {
        // document.getElementById('submitBtn').disabled = false;
        console.log('success');
      }
  }

  // Initialize JSSDK of Google reCAPTCHA v2
  GoogleReCaptcha.init({
      siteKey: '6Leas_wUAAAAAM-Fss5247oN7Nv1X-gW84S7evhf',
      callback: getCaptchaToken
  })

  var element = document.getElementById('submitBtn');
  element.onclick = GoogleReCaptcha.validate;
</script> -->
</body>
</html>