<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<!DOCTYPE html>
<html lang="<%= language %>">

<%- include('./partials/head.ejs') %>

<body class="frontpage">
  <%- include('./partials/nav.ejs') %>
  
    <div class="content fullWidthBanner homeHero">
      
      <% for (let s = 0; s < pageData.home.slider.length; s++) { 
        let id = 'slider-' + (s + 1); %>
        <div class="homeSlides" style="<%= pageData.home.slider[s].image %>">
          <h4><%= pageData.home.slider[s].h4 %></h4>
          <h2 class="multiLang"><%= pageData.home.slider[s].h2[l] %></h2>        
          <a href="<%= pageData.home.slider[s].url %>" target="<%= pageData.home.slider[s].target %>" style="text-decoration: none;">
          <button class="buttonStroke smallButton"><%= pageData.home.slider[s].cta %></button></a>
        </div>
      <% } %>
      

      <div class="sliderSideButtons slideLeft" onclick="plusDivs(-1)">&#10094;</div>
      <div class="sliderSideButtons slideRight" onclick="plusDivs(+1)">&#10095;</div>
    </div>

    <div class="spacerM"></div>

  <div class="bodyWideContainer">
    <h2 class="textCenter"><%= pageData.home.pfTitle[l] %></h2>
    <div class="filters" id="filterContainer">
      <button class="filterItem" id="all">ALL</button>
      <button class="filterItem" id="music">Music</button>
      <button class="filterItem" id="scores">Scores</button>
      <button class="filterItem" id="ads">Ads</button>
      <button class="filterItem" id="album">Album</button>
      <button class="filterItem" id="art">Art</button>
      <button class="filterItem" id="code">Code</button>
      <button class="filterItem active" id="featured">Featured</button>
    </div>
  </div>

  <div class="gridWideBlock" id="portfolioList">
    <% for (let a = 0; a < portfoliosData.portfolio.length; a++) { %>
            <a href="/<%= language %>/portfolio/<%= portfoliosData.portfolio[a].portfolioId %>">
                <div class="portfolio <%= portfoliosData.portfolio[a].portfolioClasses %>" id="<%= portfoliosData.portfolio[a].portfolioId %>" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../images/portfolio/<%= portfoliosData.portfolio[a].bgImage %>'); background-size:cover;">
                <h3><%= portfoliosData.portfolio[a].portfolioName %></h3>
                </div>
            </a>
        <% } %>
  </div>

  <div class="spacerS"></div>

  <%- include('./partials/cta-pbcatalog.ejs') %>

  <div class="spacerM"></div>

  <div class="bodyTextContainer">
    <img class="logoHeightSmall" src="/images/global/PatternBased_Logo_FB3640.svg">
  </div>
  <div class="bodyTextContainer">
      <p class="textCenter"><%- pageData.home.about[l] %></p>
  </div>

<div class="spacerS"></div>

<%- include('./partials/core-mediums.ejs') %>

<div class="spacerL"></div>

<%- include('./partials/footer.ejs') %>

<script>
var slideIndex = 0;

var frontPageCondition = $('body').is('.frontpage');
if (frontPageCondition == true) {
  carousel();
  showDivs(slideIndex);
} else {}

function carousel() {
  var i;
  var homeSlides = document.getElementsByClassName("homeSlides");
  for (i = 0; i < homeSlides.length; i++) {
    homeSlides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > homeSlides.length) {slideIndex = 1}
  homeSlides[slideIndex-1].style.display = "block";
  setTimeout(carousel, 5000); // Change image every 2 seconds
}

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var homeSlides = document.getElementsByClassName("homeSlides");
  if (n > homeSlides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = homeSlides.length}
  for (i = 0; i < homeSlides.length; i++) {
    homeSlides[i].style.display = "none";  
  }
  homeSlides[slideIndex-1].style.display = "block";  
};

    // Filtering Portfolio

    var activeFilter = $('button.active');
    var filterId = activeFilter.attr('id');
  
  filterSelection(filterId);
  
  function filterSelection(c) {
    var x, i;
    x = $('.portfolio');
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];
    }
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btns = $('#filterContainer > .filterItem');
  btns.on("click", (e)=>{
    var clicked = e.target;
    var current = $(".active");
    var id = $(clicked).attr('id');
    current.removeClass('active');
    $(clicked).addClass('active');
    filterSelection(id);
  });
  
</script>

</body>
</html>