<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<!DOCTYPE html>
<html lang="<%= language %>">

<%- include('./partials/head.ejs') %>

<body class="frontpage">
  <%- include('./partials/nav.ejs') %>

  <div class="content">
    
    <div class="fullWidthBanner aboutHero">
        <object type="image/svg+xml" data="../images/about/patternbased_logo_animation.svg"></object>
    </div>

    <div class="spacerM"></div>

    <div class="bodyTextContainer" id="thanku-msg">
        <img style="width: 100px;" src="../images/about/goat.svg">
        <h2 class="textCenter">404 ERROR</h2>
        <p class="textCenter">It looks like the page doesn't exist.</p>
    </div>

    <div class="spacerM"></div>

        <%- include('./partials/cta-pbcatalog.ejs') %>
  
<!-- <div class="spacerS"></div> -->

<%- include('./partials/footer.ejs') %>

</body>
</html>