<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<!DOCTYPE html>
<html lang="<%= language %>">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="content">

    <div class="spacerM"></div>

    <div class="bodyTextContainer">
      <h2 class="textCenter"><%= portfoliosData.portfolioheading[l] %></h2>
    </div>
    <div class="filters" id="filterContainer">
        <button class="filterItem active" id="all">ALL</button>
        <button class="filterItem" id="music">Music</button>
        <button class="filterItem" id="scores">Scores</button>
        <button class="filterItem" id="sounddesign">Sound Design</button>
        <button class="filterItem" id="ads">Ads</button>
        <button class="filterItem" id="album">Album</button>
        <button class="filterItem" id="art">Art</button>
        <button class="filterItem" id="code">Code</button>
        <button class="filterItem" id="data-visualization">Data Visualization</button>
        <button class="filterItem" id="visualdesign">Design</button>
        <button class="filterItem" id="featured">Featured</button>
    </div>

    <div class="gridWideBlock" id="portfolioList">
        <% for (let a = 0; a < portfoliosData.portfolio.length; a++) { %>
            <a href="/portfolio/<%= portfoliosData.portfolio[a].portfolioId %>/<%= language %>">
                <div class="portfolio <%= portfoliosData.portfolio[a].portfolioClasses %>" id="<%= portfoliosData.portfolio[a].portfolioId %>" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../images/portfolio/<%= portfoliosData.portfolio[a].bgImage %>'); background-size:cover;">
                <h3><%= portfoliosData.portfolio[a].portfolioName %></h3>
                </div>
            </a>
        <% } %>
    </div>

<div class="spacerL"></div>

<%- include('./partials/footer.ejs') %>

<script>
    // Filtering Portfolio

    var activeFilter = $('button.active');
    var filterId = activeFilter.attr('id');
  
  filterSelection(filterId);
  
  function filterSelection(c) {
    var x, i;
    x = $('.portfolio');
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];
    }
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btns = $('#filterContainer > .filterItem');
  btns.on("click", (e)=>{
    var clicked = e.target;
    var current = $(".active");
    var id = $(clicked).attr('id');
    current.removeClass('active');
    $(clicked).addClass('active');
    filterSelection(id);
  });
  
  </script>
</body>
</html>